pixi.lock
.coverage
htmlcov/
**/log_tab_*.txt
**/log_sim_*.txt
ci/reframe/data/data
tabascal.egg-info/*
build/*
docs/_build
examples/data
examples/test
**/output
**/perflogs
**/stage
**/reframe_results.json
**/*.pyc
*.o
*.so
